*{
  margin:0px;
  padding:0px;
}
header,nav,footer,main,section{
  display:block;
}
@font-face{
  font-family: rubik;
  src:url(../fonts/Rubik-Regular.ttf);
}
@font-face{
  font-family: com;
  src:url(../fonts/Comfortaa-Regular.ttf);
}
a{
  text-decoration:none;
  color: #000000;
}
#wrapper{
  position: relative;
}
@media (max-width:500px){
header{
  background-color: #FCF1B1;
  width:100%;
  height:70px;
}
#logo{
  display:block;
  width:200px;
  height:60px;
  background:url('../images/logo.png') no-repeat;
  margin:0 auto;
  position: relative;
  top:12%;
}
.addParty{
   font-size: 8px;  
  float:left;
  margin-left: 18%;
  margin-top: -18px;
  font-family: rubik;
  color: #023547;
}
.addPartyTheme{
  font-size: 8px;  
  float:left;
  margin-left: 17%;
  margin-top: -18px;
  font-family: rubik;
  color: #023547;
}
.addImg{
  display: block;
  padding-left: 15%;
  position: relative;
  top: -45px;
}
.addImgTheme{
  display: block;
  padding-left: 15%;
  position: relative;
  top: -45px;
}
.addImgTheme img{
  width:35px;
  position: relative;
  left: 3%;
}
.addImg img{
  width:35px;
  position: relative;
  right: -4%;
}
.wishListImg{
  display: block;
  position: relative;
  top:-97px;
  float:right;
  margin-right:40px;
}
#pace{
  width: 40px;
  height: 40px;
  border:2px solid #ffffff;
  border-radius: 3px; 
}
.obj1 #pace{
  position: relative;
  left: 80%;
  top: 15px;
}
.obj2 #pace{
  position: relative;
  left: 80%;
  top: -65px;
}
.obj3 #pace{
  position: relative;
  left: 80%;
  top: -35px;
}
.obj4 #pace{
  position: relative;
  left: 80%;
  top: -43px;
}
.obj5 #pace{
  position: relative;
  left: 80%;
  top: -50px;
}
.wishListImg img{
  width:40px;
  position: relative;
  left: 190%;
  padding-top: 20px;
}
.wishList{
  font-size: 8px;
  position: relative;
  top: -46px;
  float: right;
  margin-right: 15px;
  font-family: rubik;
  color: #023547;
}
.wishListTheme{
  font-size: 8px;
  position: relative;
  top: -63px;
  right: 13%;
  float: right;
  margin-right: 15px;
  font-family: rubik;
  color: #023547;
}
.wishListImgTheme img{
  width:40px;
  position: relative;
  right: 5%;
  float: right;
  top: -72px;
}
.dobj1 .themeImgDecoretion{
  width: 49%;
  height:150px;
  float: left;
  margin-top: 100px;
  display: inline-block;
  margin-left: 50%;
}
.dobj2 .themeImgDecoretion{
  width: 49%;
  height:150px;
  float: left;
  margin-top: -150px;
  display: inline-block;
}
.dobj3 .themeImgDecoretion{
  width: 49%;
  height:150px;
  float: left;
  margin-top: 5px;
  display: inline-block;
  margin-left: 50%;
}
.dobj4 .themeImgDecoretion{
  width: 49%;
  height:150px;
  margin-top: -175px;
  display: inline-block;
}
.textLog{
  font-family: Rubik;
  font-size: 40px;
  margin-left: 25%;
  color:#023547;
}
.obj1 img{
    width: 100%;
    height:300px;
    float: left;
    margin-top:-74px; 
}
.obj1 #title{
  position: relative;
  top: 235px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj1 #description{
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top: 269px;
  font-family: com;
  margin-left: 10px;
}
#imageClick{
  display: block;
}
.imageClick #heart{
  width: 40px;
  height:30px;
}
.obj1 #heart{
  position: absolute;
  top:80px;
}
.obj2 #heart{
  position: absolute;
  top:304px;
}
.obj3 #heart{
  position: absolute;
  top:660px;
}
.obj4 #heart{
  position: absolute;
  top:930px;
}
.obj5 #heart{
  position: absolute;
  top:1240px;
}
.tobj1 #heart{
    position: absolute;
    top: -285px;
    left: 89%;
}
.tobj2 #heart{
  position: absolute;
  top: 526px;
  left: 89%;
}
.tobj3 #heart{
  position: absolute;
  top: 824px;
  left: 89%;
}
.tobj4 #heart{
  position: absolute;
  top: 1125px;
  left: 89%;
}
.tobj5 #heart{
  position: absolute;
  top: 1410px;
  left: 89%;
}
.obj2 img{
  width: 100%;
  height:300px;
  padding-top: 2px 
}
.obj2 #title{
  position: absolute;
  top: 540px;
  left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj2 #description{
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top:570px;
  margin-left: 10px;
  font-family: com;
} 
.obj2 #imageClick{
   position:relative;
   left:1%;
   bottom:258px; 
}
.obj3 img{
    width: 100%;
    height:300px;
    margin-top: -52px;
}
.obj3 #imageClick{
   position: absolute;
   left:1%;
   top:780px; 
} 
.obj3 #title{
  position: absolute;
  top: 840px;
  left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj3 #description{
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top:870px;
  margin-left: 10px;
  font-family: com;
}
.obj4 img{
    width: 100%;
    height:300px;
    margin-top: -20px;
}
.obj4 #imageClick{
   position: relative;
   right:2%;
   top:1059px; 
}  
.obj4 #title{
  position: absolute;
  top:1145px;
  left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj4 #description{
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top:1175px;
  margin-left: 10px;
  font-family: com;
}
.obj5 img{
  width: 100%;
  height:300px;
  margin-top: -30px;
}
.obj5 #imageClick{
   position: absolute;
   left:35%;
   top:278%; 
}    
.obj5 #title{
  position: absolute;
  top:1425px ;
  left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj5 #description{
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top:1457px;
  margin-left: 10px;
  font-family: com;
}
footer{
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
  background: #FCF1B1;
}
.footerThemes{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  bottom: 27px;
  float: right;
  right: 34%;
  font-family: rubik;
}
.themesImg{
  display: block;
  position:relative;
  left:59%;
  bottom: 79px;
  width: 30px;
}
.themesImgAct{
  display: block;
  position:relative;
  left:59%;
  bottom: 74px;
  width: 30px;
}
.footerProfile{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  top: 31px;
  float: right;
  right: 15.5%;
  font-family: rubik;
}
.footerActivity{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 37%;
  bottom: 80px;
  font-family: rubik;
}
.activityeImg{
  display: block;
  position:relative;
  left: 38%;
  bottom: 123px;
  width: 30px;
}
.profileImg{
  display: block;
  position:relative;
  left:80%;
  bottom: 22px;
  width: 30px;
}
.profileImgT {
    display: block;
    position: relative;
    left: 81%;
    bottom: 22px;
    width: 30px;
  }
.profileImgAct{
  display: block;
  position:relative;
  left:78.5%;
  bottom: 20px;
  width: 30px;
}
.footerDecoration{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 16%;
  bottom: 128px;
  font-family: rubik;
}
.decorationImg{
  display: block;
  position:relative;
  left:18%;
  bottom:173px;
  width: 30px;
}
.tobj1 .themeImg{
  width: 100%;
  height:300px;
  float: left;
  margin-top: -109px; 
}
.tobj1 #title{
  position: relative;
  top: 210px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  display: inline-block;
  font-family: rubik;
}
.tobj1 #age{
  position: relative;
  top: 210px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj1 #description{
  position: relative;
  top: -10px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 15px;
  font-family: com;
  font-weight: bold;
}
.tobj2 .themeImg{
  width: 100%;
  height:300px;
  float: left;
  margin-top: -177px;
}
.tobj2 #title{
  position: relative;
  top: 170px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
  left: -0px;
}
.tobj2 #age{
  position: relative;
  top: 128px;
  margin-left: 25%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj2 #description{
  position: relative;
  top: 128px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 15px;
  font-family: com;
  font-weight: bold;
}
.tobj3 .themeImg{
  width: 100%;
  height:300px;
  float: left;
  margin-top: -162px; 
  left: -0px;
}
.tobj3 #title{
  position: relative;
  top: 180px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj3 #age{
  position: relative;
  top: 140px;
  margin-left: 23%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj3 #description{
  position: relative;
  top: 140px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 15px;
  font-family: com;
  font-weight: bold;
}
.tobj4 .themeImg{
  width: 100%;
  height:300px;
  float: left;
  margin-top:-162px; 
  left: -0px;
}
.tobj4 #title{
  position: relative;
  top: 180px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj4 #age{
  position: relative;
  top: 140px;
  margin-left: 27%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj4 #description{
  position: relative;
  top: 140px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 15px;
  font-family: com;
  font-weight: bold;
}
.tobj5 .themeImg{
  width: 100%;
  height:300px;
  float: left;
  margin-top:-162px; 
  left: -0px;
}
.tobj5 #title{
  position: relative;
  top: 167px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj5 #age{
  position: relative;
  top: 126px;
  margin-left: 23%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.tobj5 #description{
  position: relative;
  top: 125px;
  margin-left: 2%;
  color: #ffffff;
  font-size: 15px;
  font-family: com;
  font-weight: bold;
}

#titleFrozen{
  position: relative;
  top: 210px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 25px;
  display: inline-block;
  font-family: rubik;
}

#ageFrozen{
  position: relative;
  top: 170px;
  margin-left: 25%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik; 
}

#descriptionMore{
  position: relative;
  top: 207px;
  margin-left: 2%;
  color: #000000;
  font-size: 14px;
  font-family: com; 
}



#titleDecoretion{
  position: relative;
  top: 210px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 25px;
  display: inline-block;
  font-family: rubi; 
}
.wishListAddsImg{
  width:40%;
  height:150px;
  position:relative;
  left:58%;
  padding-top:10px;
}
.wishListNew{
  font-size: 8px;
  position: relative;
  top: -46px;
  float: right;
  margin-right: 17%;
  font-family: rubik;
  color: #023547;
}
.wishListAddsTitle{
  margin-top:-160px;
  color: #023547;
  font-size: 20px;
  font-family: com;
  padding-left:3px;
  width:200px;
}
.wishListAddsDes{
  padding-top:20px;
  color: #FD4F72;
  font-size: 16px;
  font-family: com;
  padding-left:3px;
  width:200px;
}
.wishListPageImg{
  width:80px;
  position: absolute;
  left: 76%;
  margin-top:-70px;
}
.divWishList{
  height:215px;
  border-bottom: 1px solid #DBDBDB;
}
.WishListDel{
  color: #023547;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Rubik;
  font-size: 16px;
  margin-top: 20px;
  margin-left:3px;
  cursor: pointer;
}
#addPartyTitl{
  font-family: Rubik;
  font-size: 16px; 
  margin-left: -3%;
  color: #023547;
}
#addPartyDecrip{
  font-family: Rubik;
  font-size: 16px; 
  margin-left: -3%;
  color: #023547;
  margin-top: 20px; 
}
#mainTitle{
  font-family: Rubik;
  font-size: 25px; 
  color: #023547;
  margin-left: 20%;
  margin-top: 30px;
}
.profileImgParty{
  display: block;
  position:relative;
  left:79%;
  bottom: 22px;
  width: 30px;
}
.themesImgParty{
  display: block;
  position:relative;
  left:59.5%;
  bottom: 79px;
  width: 30px;
}
.activityeImgParty{ 
  display: block;
  position:relative;
  left: 31%;
  bottom: 130px;
  width: 30px;
}
.footerActivityParty{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 38%;
  bottom: 83px;
  font-family: rubik;
}
.decImgParty{
  display: block;
  position:relative;
  left:8%;
  bottom:183px;
  width: 30px;
}
.footerDecParty{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 17%;
  bottom: 134px;
  font-family: rubik;
}
.butActivity{
  width: 100%;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #023547;
  color: #023547;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  position: absolute;
}
.aobj1 .actImg{
  width:100%;
  height: 300px; 
  position: absolute;
  top: 27px;
  left: -0px;
}
.aobj1 .actTitle{
  display: inline-block;
  color: #ffffff;
  font-family: Rubik;
  position: absolute;
  top: 275px;
  left: 3%;
}
.aobj1 .actAge{
  display: inline-block;
  color: #ffffff;
  font-family: Rubik;
  position: absolute;
  top: 275px;
  left: 65%;
  font-weight: bold;
}
.aobj1 .actDecription{
  color: #023547;
  font-family: com;
  position: absolute;
  top: 340px;
  left: 3%;
}
.aobj1 .actPrice{
 color: #FD4F72;
 font-family: com;
 position: absolute;
 top: 470px;
 left: 3%; 
}
.aobj1 #actheart{
  position: absolute;
  top: 30px;
}
.aobj2 .actImg{
  width:100%;
  height: 300px; 
  position: absolute;
  top: 500px;
  left: -0px;
}
.aobj2 .actTitle{
  display: inline-block;
  color: #ffffff;
  font-family: Rubik;
  position: absolute;
  top: 750px;
  left: 3%;
}
.aobj2 .actAge{
  display: inline-block;
  color: #ffffff;
  font-family: Rubik;
  position: absolute;
  top: 750px;
  left: 27%;
  font-weight: bold;
}
.aobj2 .actDecription{
  color: #023547;
  font-family: com;
  position: absolute;
  top: 810px;
  left: 3%;
}
.aobj2 .actPrice{
 color: #FD4F72;
 font-family: com;
 position: absolute;
 top: 940px;
 left: 3%; 
}
.aobj2 #actheart{
  position: absolute;
  top: 505px;
}
.aobj3 .actImg{
  width:100%;
  height: 300px; 
  position: absolute;
  top: 970px;
  left: -0px;
}
.aobj3 .actTitle{
  display: inline-block;
  color: #ffffff;
  font-family: Rubik;
  position: absolute;
  top: 1220px;
  left: 3%;
}
.aobj3 .actAge{
  display: inline-block;
  color: #ffffff;
  font-family: Rubik;
  position: absolute;
  top: 1220px;
  left: 45%;
  font-weight: bold;
}
.aobj3 .actDecription{
  color: #023547;
  font-family: com;
  position: absolute;
  top: 1280px;
  left: 3%;
  margin-bottom: 100px;
}
.aobj3 .actPrice{
 color: #FD4F72;
 font-family: com;
 position: absolute;
 top: 1370px;
 left: 3%; 
}
.aobj3 #actheart{
  position: absolute;
  top: 975px;
}

.addImgFrozen{
  display: block;
  position: absolute;
  top: 8px;
  margin-left:40px;
}
.addPartyFrozen{
  font-size: 8px;  
  float:left;
  margin-left: 13%;
  margin-top: -17px;
  font-family: rubik;
  color: #023547;
}
.wishFrozen{
  font-size: 8px;
  position: relative;
  top: -39px;
  right: 10%;
  float: right;
  margin-right: 15px;
  font-family: rubik;
  color: #023547;
}
.wishImgFrozen{
  display: block;
  position: relative;
  top:-43px;
  float:right;
  margin-right:5px;
}
.addPartyT{
  font-size: 8px;  
  float:left;
  margin-left: 13%;
  margin-top: -18px;
  font-family: rubik;
  color: #023547;
}
.addImgT img{
  width:35px;
  position: relative;
  left: 14%;
  top: -45px;
}
.wishListT{
  font-size: 8px;
  position: relative;
  top: -37px;
  right: 9%;
  float: right;
  margin-right: 15px;
  font-family: rubik;
  color: #023547;
}
.wishListImgT img{
  width:40px;
  position: relative;
  float: right;
  top: -45px;
}
.footerProf{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  top: 30px;
  float: right;
  right: 13%;
  font-family: rubik;
}
.footerT{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  bottom: 27px;
  float: right;
  right: 34%;
  font-family: rubik;
}
.footerAct{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 37%;
  bottom: 83px;
  font-family: rubik;
}
.actImg{
  display: block;
  position:relative;
  left: 29%;
  bottom: 130px;
  width: 30px;
}
.footerDec{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 16%;
  bottom: 132px;
  font-family: Rubik;
}
.decImg{
  display: block;
  position:relative;
  left:6%;
  bottom:181px;
  width: 30px;
}
#sendAct{
  margin-bottom: 8%;
}
.bod{
  background-color: #eceeee;
}
.send {
  margin: 120px 0px 0px 145px;
  position:relative;
}
.out{
    margin: 100px 0px 10px 145px;   
}
.top5button{
    margin-left:640px;
}

.themeImgFrozen{
  width: 100%;
  height:300px;
  float: left;
  margin-top: -246px;
}

#titleOneCreate{
  position: relative;
  top: 200px;
  margin-left: 2%;
  color: #FD4F72;
  font-size: 18px;
  font-family: rubik; 
}
#descriptionFrozen{
  position: relative;
  top: 210px;
  margin-left: 2%;
  color: #FD4F72;
  font-size: 19px;
  font-family: com;
}

.fobj1 #titleCreate{
  position: absolute;
  top: 630px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 22px;
  font-family: rubik;
}
.fobj2 #titleCreate{
  position: absolute;
  top: 810px;
  width:200px;
  margin-left: 4%;
  color: #FFFFFF;
  font-size: 22px;
  font-family: rubik; 
}
.fobj1 .themeImgCreate{
  width: 100%;
  height:200px;
  position: relative;
  top: 145px;
  margin-bottom: 50px;
  z-index: -2;
}

.fobj2 .themeImgCreate{
  width: 100%;
  height:200px;
  position: relative;
  top:47px;
  z-index:-2;
}
.fobj1 #descriptionCreate{
  position: relative;
  top: 350px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 14px;
  font-family: com; 
  font-weight: bold;
}

.fobj2 #descriptionCreate{
  position: relative;
  top: 250px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 14px;
  font-family: com;
  font-weight: bold;
}
#titleOneKits{
  position: relative;
  top: 50px;
  margin-left: 2%;
  color: #FD4F72;
  font-size: 18px;
  font-family: rubik;
  margin-bottom: 100px; 
}
.fobj3 #titleKits{
  position: absolute;
  top: 1090px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 22px;
  font-family: rubik; 
}
.fobj4 #titleKits{
  position: absolute;
  top: 1295px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 22px;
  font-family: rubik; 
}
.fobj3 #descriptionKits{
  position: relative;
  top: 120px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 14px;
  font-family: com;
  font-weight: bold; 
}
.fobj4 #descriptionKits{
  position: relative;
  top: 270px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 14px;
  font-family: com;
  font-weight: bold; 
}
.fobj3 .themeImgKits{
  width: 100%;
  height:200px;
  position: absolute;
  top:980px;
  z-index:-2;
}
.fobj4 .themeImgKits{
  width: 100%;
  height:200px;
  position: absolute;
  top:1182px;
  margin-bottom: 100px;
  z-index:-2;
}
#titleOneActivity{
  position: relative;
  top: 280px;
  margin-left: 2%;
  color: #FD4F72;
  font-size: 18px;
  font-family: rubik;
  margin-bottom: 100px; 
}
#titleActivity{
  position: absolute;
  top: 1570px;
  margin-left: 4%;
  color: #ffffff;
  font-size: 22px;
  font-family: rubik;  
}

#priceActivity{
  position: absolute;
  top: 1570px;
  margin-left: 31%;
  color: #ffffff;
  font-size: 22px;
  font-family: rubik;  
  display: inline-block; 
}
.themeImgActivity{
  width: 100%;
  height:200px;
  position: relative;
  top:200px;
  margin-bottom: 100px;
  z-index:-2;
}
#titleOneDecoretion{
  position: relative;
  top: 100px;
  margin-left: 2%;
  color: #FD4F72;
  font-size: 18px;
  font-family: rubik; 
}
.profileDesk,.themesDesk,.mainTitle{
  display: none;
}
.footerDecWish{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 16%;
  bottom: 126px;
  font-family: rubik;
}
.footerActWish{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 37%;
  bottom: 77px;
  font-family: rubik;
}
.footerThemesWish{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  bottom: 24px;
  float: right;
  right: 34%;
  font-family: rubik;
}
.themesImgWish{
  display: block;
  position:relative;
  left:59%;
  bottom: 75px;
  width: 30px;
}
.profileImgWish{
  display: block;
  position:relative;
  left:78.5%;
  bottom: 22px;
  width: 30px;
}
.wishListMain{
  font-size: 8px;
  position: relative;
  top: -46px;
  float: right;
  margin-right: 75px;
  font-family: rubik;
  color: #023547;
}
.footerDecMain{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 16%;
  bottom: 127px;
  font-family: rubik;
}
.footerActMain{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 37%;
  bottom: 78px;
  font-family: rubik;
}
.footerThemesMain{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  bottom: 24px;
  float: right;
  right: 34%;
  font-family: rubik;
}
.themesImgMain{
  display: block;
  position:relative;
  left:59%;
  bottom: 75px;
  width: 30px;
}
.profileImgMain{
  display: block;
  position:relative;
  left:78.5%;
  bottom: 22px;
  width: 30px;
}
.wishListAct{
  font-size: 8px;
  position: relative;
  top: -46px;
  float: right;
  margin-right: 71px;
  font-family: rubik;
  color: #023547;
}
.footerDecAct{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 16%;
  bottom: 125.5px;
  font-family: rubik;
}
.footerActNew{
  position: relative;
  color: #023547;
  font-size: 8px;
  float: left;
  left: 37%;
  bottom: 78px;
  font-family: rubik;
}
.footerThemesAct{
  position: relative;
  display: inline-block;
  color: #023547;
  font-size: 8px;
  bottom: 23px;
  float: right;
  right: 34%;
  font-family: rubik;
}
.enter{
  text-decoration:none;
  color:023547;
  font-family: Rubik;
  position: relative;
  top:25px;
  font-size: 25px;
  margin-left: 23%;
}
}
.clear{
  clear:both;
}

/*dektop*/
@media (min-width:850px){
header{
  background-color: #FCF1B1;
  width:100%;
  height:80px;
}
.themesDesk{
  color:#023547;
  font-family: Rubik;
  font-size: 15px;
  position: absolute;
  left: 55%;
  top: 40px;  
}
.profileDesk{
  color:#023547;
  font-family: Rubik;
  font-size: 15px;
  position: absolute;
  left: 65%;
  top: 40px; 
}
.titleDesk{
  color:#023547;
  font-family: Rubik;
  font-size: 15px;
  position: absolute;
  left: 30%;
  top:6%; 
}
#logo{
  display:block;
  width:200px;
  height:60px;
  background:url('../images/logo.png') no-repeat;
  position: absolute;
  top:2%;
  left: 6%;
}
.partyDesk{
  color:#023547;
  font-family: Rubik;
  font-size: 15px;
  position: absolute;
  top: 6%;
  left: 75%; 
}
.mainTitle{
  margin-left: 35%;
  margin-top: 55px;
  color:#023547;
  font-family: Rubik;
  font-size:50px; 
}
.obj1 img{
    width: 40%;
    height:400px;
    margin-left: 120px;
    margin-top:60px;
    display: inline-block; 
}
.obj2 img{
    width: 40%;
    height:400px;
    display: inline-block;
    position: absolute;
    top: 113px;
    right:11%;
}
.obj3 img{
    width: 40%;
    height:400px;
    margin-left: 120px;
    margin-top:-21px;
    display: inline-block; 
}
.obj4 img{
    width: 40%;
    height:400px;
    display: inline-block;
    position: absolute;
    top: 514px;
    right:11%;
}
.mainTitle{
  color:#023547;
  font-family: Rubik;
  font-size: 45px;
  margin-left: 40%; 
}
.footerProfile,.footerThemesMain,.obj5 img,.obj5 #title,.obj5 #description,.imageClick #heart,#pace,.wishListImg,.addImg img,.addImg
,.footerActMain,.activityeImg,.themesImgMain,.decorationImg,.profileImgMain,.footerDecMain{
  display: none;
}
.addParty{
  color:#023547;
  font-family: Rubik;
  font-size: 15px;
  position: absolute;
  left: 30%;
  top: 40px; 
}
.wishListMain{
    color: #023547;
    font-family: Rubik;
    font-size: 15px;
    position: absolute;
    left: 60%;
    top: 40px;
}
.profile {
    color: #023547;
    font-family: Rubik;
    font-size: 15px;
    position: absolute;
    left: 40%;
    top: 40px;
}
.theme {
    color: #023547;
    font-family: Rubik;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 40px;
}
.obj1 #title{
  position: absolute;
  top: 435px;
  margin-left: 10%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj1 #description{
  position: absolute;
  top: 480px;
  margin-left: 10%;
  color: #ffffff;
  font-size: 15px;
  font-family: rubik;
}
.obj2 #title{
  position: absolute;
  top: 435px;
  margin-left: 50%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj2 #description{
  position: absolute;
  top: 480px;
  margin-left: 50%;
  color: #ffffff;
  font-size: 15px;
  font-family: rubik;
}
.obj3 #title{
  position: absolute;
  top: 850px;
  margin-left: 10%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj3 #description{
  position: absolute;
  top: 885px;
  margin-left: 10%;
  color: #ffffff;
  font-size: 15px;
  font-family: rubik;
}
.obj4 #title{
  position: absolute;
  top: 850px;
  margin-left: 50%;
  color: #ffffff;
  font-size: 25px;
  font-family: rubik;
}
.obj4 #description{
  position: absolute;
  top: 885px;
  margin-left: 50%;
  color: #ffffff;
  font-size: 15px;
  font-family: rubik;
}
}