<!DOCTYPE html>
<html ng-app="WishList">
     <head>
         <title>wish list</title>
         <link rel="stylesheet" type="text/css" href="css/style.css">
     </head>
    <header>
        <a href="index.html" id="logo"> </a>
         <nav>
          <h3 class="addParty">Add Party</h3>
             <a href="addParty.html" class="addImg">
             <img src="../images/add.png">
            </a>
            <h3 class="wishListNew">Wish List</h3>
            <a href="wishList.html" class="wishListPageImg">
            <img src="../images/heart.png" >
            </a>
         </nav>
     </header>
         <body ng-controller="wishCtrl">
         <div id="wrapper">
         <main>
             <tbody>
                <div ng-repeat="wishlist in wishController.Party" class="divWishList">
                         <img ng-src="{{wishlist.image}}" class="wishListAddsImg">
                         <h1 class="wishListAddsTitle">{{wishlist.title}}</h1>
                         <h4 class="wishListAddsDes">{{wishlist.description}}</h4>
                         <button class="WishListDel" ng-click="delClick(wishlist.title, wishlist.description, wishlist.sub)">Delete </button>
                 </div>
                 
                <div ng-repeat="wishlist in wishController.Activity" class="divWishList">
                         <img ng-src="{{wishlist.image}}" class="wishListAddsImg">
                         <h1 class="wishListAddsTitle">{{wishlist.title}}</h1>
                         <h4 class="wishListAddsDes">price:{{wishlist.price}}$</h4>
                         <button class="WishListDel" ng-click="delClick(wishlist.title, wishlist.description, wishlist.sub)">Delete </button>
                 </div>
                <div ng-repeat="wishlist in wishController.Themes" class="divWishList">
                         <img ng-src="{{wishlist.image}}" class="wishListAddsImg">
                         <h1 class="wishListAddsTitle">{{wishlist.title}}</h1>
                         <h4 class="wishListAddsDes">{{wishlist.description}}</h4>
                         <button class="WishListDel" ng-click="delClick(wishlist.title, wishlist.description, wishlist.sub)">Delete </button>
                 </div>
             </tbody>
             </main>
         <div class="clear"></div>
     <footer>
         <nav>
            <ul>
                <li>
                    <p class="footerProfile">Profile</p>
                    <a href="#">
                         <img src="../images/profile.png" class="profileImg">
                    </a>
                </li>
                <li>
                    <p class="footerThemes">Themes</p>
                    <a href="showThemes.html">
                         <img src="../images/themes.png" class="themesImg">
                    </a>
                </li>
                <li>
                    <p class="footerActivity">Activities</p>
                    <a href="showActivity.html">
                        <img src="../images/activities.png" class="activityeImg">
                    </a>
                </li>
                <li>
                    <p class="footerDecoration">Decorations</p>
                    <a href="#">
                        <img src="../images/decoration.png" class="decorationImg">
                    </a>
                </li>
            </ul>
         </nav>
     </footer>
     </div>
     </body>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/lib/angular/angular-cookies.min.js"></script>
        <script src="js/lib/angular/angular-resource.min.js"></script>
        <script src="js/lib/angular/angular-route.min.js"></script>
        <script src="js/wishController.js"></script>
 </html>